<h1>Listing Articles</h1>
<ul>
  <% @articles.each do |article| %>
    <li>
      <h3><%= article.title %></h3>
      <p><%= article.text %></p>
    </li>
  <% end %>
</ul>
<%= link_to 'New Article', new_article_path %>